.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e79191;
}

/* card */

.card {
  background-color: #725847; /*tirar depois*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  width: 18rem;
  height: 34rem;
}

.card_header {
  background-image: url("/assets/img/pokeball.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8rem;
  background-position-y: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 16rem;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}

.card_body {
  background-color: whitesmoke;
  display: flex;
  position: relative;
  width: 18rem;
  height: 18rem;
  flex-wrap: nowrap;
  border-radius: 2rem 2rem 1rem 1rem;
  margin-bottom: -7px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

/* icons */

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
  width: 18rem;
  z-index: 1;
  align-items: center;
}

.arrow img {
  display: flex;
  width: 2.5rem;
  margin-top: 5px;
  margin-left: 5px;
  padding: 10px;
  cursor: pointer;
}

.heart img {
  display: flex;
  width: 1.6rem;
  padding: 3px;
  margin-right: 13px;
  margin-top: 5px;
}

/*card top*/

.top_card {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 10px;
  width: 18rem;
  height: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.name_number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem;
    color: #fff;
    width: 18rem;
    height: 7rem;
    font-size: 1rem;
    text-transform: capitalize;
}

.tags {
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin-top: -35px;
    background-color: transparent;
    width: 8rem;
    height: 2rem;
    flex-wrap: nowrap;
}

/* image pokemon */

.photo img {
    display: block;
    position: relative;
    width: 10rem;
    height: 9rem;
    z-index: 1;
    margin-top: 60px;
}

.poke_image {
    display: flex;
    width: 18rem;
    height: 11rem;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 6px;
    margin-right: 0;
    flex-direction: row;
    align-items: center;
}

/* types */

.normal {
  background-color: #d4a373;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.grass {
  background-color: #87c38f;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.fire {
  background-color: #e5383b;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.water {
  background-color: #a2d2ff;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.electric {
  background-color: #ffee32;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.ice {
  background-color: #bde0fe;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.ground {
  background-color: #99582a;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.flying {
  background-color: #cce3de;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.poison {
  background-color: #cdb4db;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.fighting {
  background-color: #bb9457;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.psychic {
  background-color: #ffafcc;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.dark {
  background-color: #1b263b;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.rock {
  background-color: #f6bd60;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.bug {
  background-color: #a8b720;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.ghost {
  background-color: #6e5896;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.steel {
  background-color: #e5e5e5;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.dragon {
  background-color: #9a031e;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

.fairy {
  background-color: #ffc8dd;
  border-radius: 1rem;
  margin: 0;
  padding: 5px;
}

/* card-body */

.body_tags {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 18rem;
  height: 18rem;
  padding: 1rem;
  margin: 0;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/* Style the tab */
.tab {
  display: flex;
  padding: 0;
  margin: 1rem;
  background-color: transparent;
  width: 16rem;
  height: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
}

/* buttons tab content */
.tab button {
  border: none;
  display: flex;
  padding: 0;
  color: black;
  margin-top: 10px;
  margin-left: 5px;
  width: 4rem;
  font-size: small;
  outline: none;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  background-color: #f5f5f5;
}

.tab button:hover {
  background-color: #f5f5f5;
  border-bottom: 2px solid #acb5eb;
}

.tab button.active {
  background-color: #f5f5f5;
  border-bottom: 2px solid #acb5eb;
}

.tabcontent {
  display: flex;
  padding: 5px;
  margin-left: -15px;
  width: 17rem;
  height: 12rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: small;
}

/* tags ol li */

.ol_tg {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 17rem;
  height: 2rem;
  margin: 3px;
  padding: 1rem;
  list-style: none;
}

.moves_li{
  display: flex;
}

#moves{
  display: flex;
}

/* bar progress & stats */

progress {
  background: #c7c7c7;
  border-radius: 10px;
  height: 10px;
}

progress::-webkit-progress-value {
  background: #219ebc;
  border-radius: 10px;
}

progress::-webkit-progress-bar {
  background: rgb(178, 178, 184);
  background-color: transparent;
}

.bar_stats{
  margin-right: 10px;
}