*{
    font-family: 'Roboto', 'sans-serif';
}

.content{
    padding: 1rem;
}

.content h1{
    margin: 0;
}

ol.pokemons{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}